.dropdown-container {
  position: absolute;
}

.dropdown-target-icon {
  height: 30px;
  width: 30px;
}

.dropdown-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  color: white;
  border-radius: 12px;
  min-width: 175px;
  height: auto;
  background-color: rgb(54, 54, 54);
  position: absolute;
  left: 18px;
  top: 18px;
  overflow: hidden;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown-list > li {
  align-items: center;
  text-decoration: none;
  font-family: "Minecraft";

  display: flex;
  gap: 12px;
  padding: 8px 0px;
  padding-left: 10px;

  cursor: pointer;

  transition: all 0.3s;
}

.dropdown-list > li:hover {
  background-color: rgb(68, 68, 68);
}

.targeting-box {
  background-color: rgba(0, 255, 255, 0);
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 12px;

  border: 3px dotted rgb(255, 255, 255);

  left: -30px;
  top: -32px;
  pointer-events: none;
}

.target-dot {
  position: absolute;
  pointer-events: none;
  border-radius: 50%;

  height: 5px;
  width: 5px;
  top: 45%;
  left: 45%;
  background-color: red;
}
