.game-header {
  position: fixed;
  width: 100%;
  background-color: rgb(23, 23, 23);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
.logo {
  font-family: "Minecraft";
  transition: 0.3s all;
}

.logo:hover {
  transform: scale(1.05);
}

.timer {
  font-size: 36px;
  font-family: "Minecraft";
  color: white;
  height: auto;
  width: max-content;
  font-variant-numeric: tabular-nums;
}

.target-icons {
  display: flex;
  gap: 25px;
}

.target-icon {
  width: 60px;
  height: 60px;
  background-color: rgb(68, 68, 68);
  border-radius: 8px;
  padding: 2px 2px;
}
